@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap"); */

body {
    overflow-y: overlay;
    @apply bg-black-lighten text-gray font-sans text-base scroll-smooth;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.45);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

/* CUSTOM UTILITIES */
.tw-flex-center {
    @apply flex justify-center items-center;
}
.tw-black-backdrop {
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.85) 65%);
}

.tw-black-backdrop-2 {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(179, 179, 193, 0) 7%,
        rgba(107, 107, 115, 0) 93%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

.tw-multiline-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;

    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tw-multiline-ellipsis-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;

    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1344px;
    }
}
@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width: 1152px;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.navbar-bg {
    background-color: rgba(51, 10, 103, 0.93);
}
